<h1 id="tableLabel">Orders</h1>
<div *ngIf="error?.trim()">
    <app-error [error]="error"></app-error>
</div>
<div *ngIf="state == 'create'" class="row">
    <form [formGroup]="orderForm" novalidate (ngSubmit)="create()">
        <div class="form-group"><label class="form-label"> Sum: {{sum}}</label></div>
        <div class="form-group">
            <label class="form-label" for="address">Address</label>
            <textarea class="form-control" id="address" name="address"  formControlName="address"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Save</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
</div>
<div *ngIf="state=='list'" class="row">
    <input *ngIf='canCreate' class="btn btn-primary" value="Create Order" (click)="toCreateState()" />
    <p-table *ngIf="orders" [value]="orders">
        <ng-template pTemplate="header">
            <tr>
                <th>Status</th>
                <th>Products Count</th>
                <th>Sum</th>
                <th>Address</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>{{rowData.status | orderState}}</td>
                <td>{{count(rowData?.lines)}}</td>
                <td>{{orderSum(rowData?.lines)}}</td>
                <td>{{rowData.address}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>