﻿@model IEnumerable<System.Security.Claims.Claim>
<div class="welcome-page container">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to IdentityServer4
            </h1>
        </div>
    </div>

    <div><ul>
       @foreach (var c in Model)
       {
           <li>@($"{c.Value}:{c.Type}:{c.ValueType}")</li>
       }
    </ul></div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                IdentityServer publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p>
                Here are links to the
                <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
            </p>
        </div>
    </div>
</div>
