<h2>
  Login is required to access this area
</h2>
<div>
  <button type="button" class="btn btn-primary" (click)="login()">Login</button>
  <button type="button" class="btn btn-default" (click)="goback()">Back</button>
</div>
