﻿@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<AuthorizeView>
    <Authorized>
        <table class="table table-sm small">
            <thead class="thead-dark">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claim in context.User.Claims)
                {
                    <tr>
                        <td>@claim.Type</td>
                        <td>@claim.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
</AuthorizeView>