<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>BlazorEShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-success" [routerLink]='["/basket"]'> Total Items In Basket: {{totalItems}}</a> 
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/products"]'>Products</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/basket"]'>Basket</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["orders","list"]'>Orders</a>
          </li>
          <li *ngIf="!isAuthorized" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="login()" [routerLink]="['/login']">Login</a>
          </li>
          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" href="#">Hello {{ userName | async }}!</a>
          </li>
          <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']">
            <a (click)="logout()" class="nav-link text-dark" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>