<h1 id="tableLabel">Products</h1>
<div>
  <form class="my-5" [formGroup]="filterForm" novalidate (ngSubmit)="submit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="min">Min Price</label>
        <input type="number" id="min" class="form-control" formControlName="min" />
      </div>
      <div class="form-group col-md-3">
        <label for="max">Max Price</label>
        <input type="number" id="max" class="form-control" formControlName="max" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="filterForm.invalid">Submit</button>
  </form>
</div>
<br />
<div *ngIf="service.errors">
  <app-error [error]="service.errors"></app-error>
</div>
<div *ngIf="basketService.error">
  <app-error [error]="basketService.error"></app-error>
</div>
<p-table *ngIf="service.products && service.products.value" [value]="service.products.value" [paginator]="true"
  [rows]="10" [rowsPerPageOptions]='[10,20,40, 80]' (onLazyLoad)="loadLazy($event)" [loading]="service.isLoading"
  [totalRecords]="service.products.totalCount" [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [lazy]="true">
  <ng-template pTemplate="header">
    <tr>      
      <th>Image</th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header }}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>      
      <td><img src="{{service.getImageUrl(rowData) | async}}" /></td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <input type="button" value="Добавить в корзину" class="btn btn-success"
               (click)="basketService.add(rowData)" />
      </td>
    </tr>
  </ng-template>
</p-table>
