<h1 id="tableLabel">Basket</h1>
<div *ngIf="service.itemsCount > 0" class="row">
  <a class="nav-link" [routerLink]='["/orders","create"]'>Create Order</a>
  <input type="button" class="btn btn-danger" value="Clear" (click)="service.clear()" />
</div>
<div *ngIf="service.error">
  <app-error [error]="service.error"></app-error>
</div>
<p-table *ngIf="service.model && service.model.lines" [value]="service.model.lines">
  <ng-template pTemplate="header">
    <tr>
      <th>
        Title
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.product.title}}</td>
      <td>{{rowData.product.price}}</td>
      <td>{{rowData.quantity}}</td>
      <td>
        <input type="button" value="+" class="btn btn-success" (click)="service.add(rowData.product)" />
        <input type="button" value="-" class="btn btn-warning" (click)="service.remove(rowData.product)" />
      </td>
    </tr>
  </ng-template>
</p-table>