<div *ngIf="error" class="text-danger">
  <div class="text-danger">
    <h4>Произошла ошибка</h4>
    <p>Обновите вкладку и повторите позже или обратитесь в поддержку с текстом ошибки:</p>
    <p>{{error}}</p>
  </div>
</div>
