/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input.ng-touched.ng-invalid {
  outline: 1px solid red;
  outline-color: red;
  outline-style: solid;
  outline-width: 1px;
}

input.ng-touched.ng-valid {
  outline: 1px solid #26b050;
  outline-color: rgb(38, 176, 80);
  outline-style: solid;
  outline-width: 1px;
}

textarea.ng-touched.ng-invalid {
  outline: 1px solid red;
  outline-color: red;
  outline-style: solid;
  outline-width: 1px;
}

textarea.ng-touched.ng-valid {
  outline: 1px solid #26b050;
  outline-color: rgb(38, 176, 80);
  outline-style: solid;
  outline-width: 1px;
}
